.recipe-detail-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.hero-img-wrapper {
    position: relative;
}

.hero-img-wrapper img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgb(0, 0, 0, 0.10);
}

.category-badge {
    display: inline-block;
    background-color: #F5F0EA;
    border-radius: 12px;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    align-self: flex-start;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    background-color: #F5F0EA;
    border-radius: 12px;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-item span {
    font-size: 0.8rem;
    color: #888;
}

.info-item p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.save-button {
    background-color: transparent;
}

.print-button {
    background-color: #7C6F5B;
    color: white;
    border: none;
}

.action-buttons {
    display: flex;
    gap: 1rem;
}

.action-buttons button {
    height: 3rem;
    flex: 1;
    font-size: 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #e8e0d8;
    padding: 0.5rem;
    cursor: pointer;
}